html{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    color:grey;
    max-width:100%;
    overflow:hidden;
}

body {
    padding:0;
    margin:0;
    max-width:100%;
    overflow-x:hidden;
    background:#D8D8D8;
}

span{
    display:inline-block;
}

div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

#header{
    z-index:2;
    width:100%;
    height: 8vh;
    background:grey;
    margin:0;
    border:none;
}

#logo{
    height: 5vh;
    width:auto;
    margin:1.5vh;
}

#sideBar{
    width:30%;
    /*max-width:30em;*/
    height:92vh;
    background:#ECEBEB;
    border-right:solid 2px #303030;
    display:inline-block;
    resize:horizontal;
    overflow-y:auto;
}

#sideHeader{
    font-weight:500;
    font-size:1.6em;
    width:100%;
    text-align: center;
    border-bottom: solid 2px grey;
    display:inline-block;
    background:white;
}

.sectionHeader{
    border-bottom:solid 2px grey;
    padding:0.5em;
    padding-left:1em;
    background:white;
    cursor:pointer;
    box-shadow:0px 0px 4px #979797;
}

.sectionHeader:hover{
    background:#E0F0FF;
}

.counter{
    height:1.2em;
    width:1.2em;
    text-align:center;
    border-radius:0.2em;
    display:inline-block;
    float:right;
    margin-right:1em;
    color:white;
    padding:0.1em;
    margin-top:-0.1em;
}

.triangle{
    display:inline-block;
}

.sectionDrop{
}

.student{
    background:white;
    border-radius:10px;
    border:solid 1px #979797;
}

.qPic{
    margin-left:0.5em;
    margin-top:0.5em;
    width:5em;
}

.qContainer{
    display:inline-block;
    width:70%;
    float:right;
    margin-top:0.8em;
    margin-right:1em;
}
.qTitle{
    display:inline-block;
    font-size: 1.2em;
    font-weight: 400;
    color: #4A4A4A;
    float:top;
}
.qTime{
    margin-top:0.2em;
    display:inline-block;
    font-weight: 100;
    float:right;
}
.qText{
    margin-top:0.5em;
    font-size:0.9em;
    height:2.5em;
}
.qName{
    margin-left:0.5em;
    width:5em;
    text-align: center;
    margin-bottom:0.5em;
}

.qButton {
    z-index:2;
    height:1.4em;
    float:right;
    margin-left:0.5em;
    margin-top:0.5em;
    display:inline-block;
}
.qButton:hover{
    opacity:0.7;
    cursor:pointer;
}

#actionField{
    position:absolute;
    top: 3em;
    right:0em;
    background:white;
    z-index:1;
    color:white;
    margin:50px;
    border-radius: 10px;
    text-align: center;
}

#tabBar{
    z-index:2;
    width:100%;
    cursor:pointer;
}

.classSection{
    z-index:2;
    height:70%;
    min-width:90%;
    display:inline-block;
}

#popup1{
    border:solid 2px grey;
    z-index:3;
    position:absolute;
    width:50vw;
    margin-left:3vw;
    background:white;
    padding:1em;
}

#popup2{
    border:solid 2px grey;
    z-index:3;
    position:absolute;
    width:50vw;
    margin-left:3vw;
    background:white;
    padding:1em;
}

.xButton{
    z-index:4;
    height:2em;
    float:right;
    cursor:pointer;
}

.xButton:hover{
    opacity:0.7;
}
.popup{
    z-index:1;
    width:50vw;
}

#random{
    color:grey;
    display:inline-block;
    border:solid 1px grey;
    border-radius:5px;
    width:10em;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin-bottom:2em;
    cursor:pointer;
}

#random:hover{
    opacity:0.7;
}

#red {
    background:red;
}

#orange {
    background:orange;
}

#green {
    background:green;
}